/* Style for h1 */
h1 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 0; 
}

/* Style for h2 */
h2 {
    font-size: 18px; 
    font-weight: bold;
    margin-left: 10px; 
}

/* Style for h3 */
h3 {
    font-size: 16px; 
    margin-left: 20px; 
}

/* Style for h4 */
h4 {
    font-size: 14px; 
    margin-left: 30px; 
}

#headings-list {
    list-style-type: none;
}