.table-container {
    overflow-x: auto;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: lightblue; /* Light blue background for heading row */
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Default background color for odd rows */
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Slightly darker background color for even rows */
}
